
<% Ingredient::CATEGORY.each do |category| %>
  <h3>Au rayon <%= category %> :</h3>
  <ul>
  <% @grocery_items.group(:name).sum(:quantity).each do |k,v| %>
    <% if category == GroceryItem.find_by(name: k).category %>
      <li><%= k %> (<%= v %> <%= GroceryItem.find_by(name: k).unit %>)</li>
    <% end %>
  <% end %>
  </ul>
<% end %>
