
<% @categories.each do |category| %>
  <h3>Au rayon <%= category %> :</h3>
  <ul>
    <% @grocery_items.each do |grocery_item| %>
      <% if category === grocery_item.category %>
        <li><%= @grocery_item.name %> (<%= @grocery_item.quantity %> <%= @grocery_item.unit %>)</li>
      <% end %>
    <% end %>
  </ul>
<% end %>
