<div>
  <h1>Mes menus : </h1>
  <ul>
    <% @final_menus.each do | menu | %>
    <li><%= menu.diet %> - <%= menu.created_at %> - Crée par <%= User.find(menu.user_id).username %> - <%= link_to "Détail", menu_path(menu) %></li>
    <% end %>
  </ul>
</div>

