<ul>
<li>Régime : <%= @menu.diet %></li>
<li>Nombre de personnes : <%= @menu.number_of_people %></li>
<li>Nombre de repas : <%= @menu.number_of_meals %></li>
</ul>

<%= link_to "Edit button", edit_menu_path(@menu) %>
