// Specific CSS for your home-page
.banner {
  background-image: url("https://res.cloudinary.com/dogomm21h/image/upload/v1606302236/Screenshot_2020-11-23_at_18.42.00_eqtfec.png");
  background-size: cover;
  background-position: bottom;
  height: calc(100vh - 80px);
}

.home-title {
  margin-top: 20vh;
  font-size: 80px;
  color:$red;
}

.home-middle {
  text-align: center;
  margin-top: 20px;
  padding: 20px 70px 35px 70px;
}

.home-bottom {
  background-color: white;
  text-align: center;
  margin-top: -50px;
  padding: 70px 70px 40px 70px;
}

