.background-recipe {
  background-image: url("https://res.cloudinary.com/dogomm21h/image/upload/v1606485167/background_photo_owmsqk.jpg");
  background-size: cover;
  background-position: bottom;
  min-height: calc(100vh - 100px);
}

.recipe-title {
  padding: 30px;
  h1 {
    font-size: 40px;
  }
}

.recipe-image {
  width: 100%;
  margin: auto;
  border-radius: 15px;
  height: 300px;
  object-fit: cover;
}

.recipe-ingredients {
  margin-bottom: 15px;
}

.recipe-ingredients p {
  text-align: center;
  margin: 0;
  font-family: Lato;
}

.ingredients-list {
  text-align: center;
  width: 300px;
  margin: 0px auto;
}

.ingredients-detail {
  display: flex;
  justify-content: space-between;
}

.label-done {
  font-family: Lobster;
  font-size: 25px;
  margin: 8px;
}

.recipe-content {
  padding: 10px 30px;
  text-align: justify;
}


@include media-breakpoint-up(md) {
  .recipe-content {
    padding: 20px 60px;
  }
}

.reviews-display {
  margin: 0 auto;
  width: 430px;
  padding: 10px;
}
.review {
  background-color: white;
  border-radius: 15px;
  padding: 20px;
  margin: 15px;
}

.reviews-display p {
  margin: 0;
}

.review-features {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3px;
  font-weight: bold;
}

@include media-breakpoint-up(md) {
  .reviews-display {
    width: 670px;
  }
}

