.profile-set {
  > div {
    width: 47%;
  }
  .form-control {
    margin: 0;
  }
}

@media (max-width: 375px) {

  .profile-set {

    > div {
      width: 100%;
    }
  }
}


#new_menu {
  input {
    // line-height: 2em;
    font-size: 20px;
    // padding: 20px 15px;
    text-align: center;
    box-shadow: $shadow;
  }
  .yellow-button {
    padding: unset;
    padding-left: 30px;
    padding-right: 30px;
  }
}

.menu_diet {
  display: flex;
  align-items: center;
  justify-content: center;

  legend {
    display: none;
  }
  input[type='radio'] {
    display: none;
  }
  input[type='radio']:checked + label .diet-card {
    background-color: white;
    box-shadow: none;
    opacity: 1;
  }

  .form-check {
    padding-left : 0;
  }
}

@media(min-width: 375px) {
  .diet-card {
    height: 120px;
    width: 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    font-size: 2.8em;
    margin: 10px 35px;
    background-color: lightgrey;
    box-shadow: $shadow;
    opacity: 0.6;
  }
}
@media(max-width: 375px) {
  .diet-card {
    height: 80px;
    width: 80px;
    margin: 10px;
  }
}

.diet-choice p {
  text-align: center;
  color: #585656;
  font-style: italic;
  font-weight: 300;
  font-size: 20px;
}

.diet-card img {
  width: 110px;
}
