<div class="footer">
  <div class="d-none d-md-block">
    <h1>What's for dinner?</h1>
  </div>
  <div class="footer-link">
    <ul class="mb-0 mt-0">
      <li>A propos</li>
      <li>FAQ</li>
      <li>Presse</li>
    </ul>
  </div>
  <div class="footer-link">
    <ul class="mb-0 mt-0">
      <li>Mentions légales</li>
      <li>Cookies</li>
      <li>CGU</li>
    </ul></h3>
  </div>
  <div class="d-none d-md-block">
    <ul class="dl-img">
      <li><%= image_tag "apple.png"  %></li>
      <li><%= image_tag "google.png"  %></li>
    </ul>
  </div>
</div>
