<div class=main-container>
  <input type="button" class="red_button" value="Je crée mon menu">
  <br>
  <input type="button" class="yellow_button" value="Générer un menu">
  <br>
  <button class="send_button">Envoyer à un ami  |  <i class="fa fa-paper-plane"></i></button>
  <br>
  <div class="card-home">card-home</div>
</div>
