.red-button {
    background-color: $red;
    padding: 10px 30px 10px;
    box-shadow: $shadow;
    color: white;
    font-size: 22px;
    border-radius: $border-radius;
    &:hover {
      text-decoration: none;
      color: $red;
      background-color: white;
    }
}

.yellow-button {
  width: 300px;
  height: 45px;
  border-radius: 50px;
  background-color: #EAA858;
  border: 0px;
  padding-bottom: 5px !important;
  box-shadow: 5px 5px 5px grey;
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: white;
  font-family: 'Lobster', sans-serif;
  font-size: 22px !important;
}

.send_button {
  width: 190px;
  height: 25px;
  border-radius: 15px;
  background-color: #FFFAF6;
  border: 0px;
  box-shadow: 5px 5px 5px grey;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Lato', sans-serif;
  font-size: 12px;
}


