.main-container {
  width: 100%;
  scroll-behavior: smooth;
}

.card-home {
  width: 230px;
  height: 200px;
  border-radius: 15px;
  box-shadow: 5px 5px 5px lightgrey;
  background-color: white;
  padding: 100px 20px 20px 20px;
}

.card-small {
  width: 150px;
  height: 150px;
  background-color: white;
  border: solid 0.5px lightgrey;
  img {
    width: 100%;
    height: 100px;
  }
  p {
    width: 100%;
    padding: 5px;
    height: 50px;
  }
}

.recipe-card {
  width: 700px;
  margin-top: 100px;
  padding: 10px
}

.step-title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  h1 {
    margin-bottom: 0px;
  }
  .step-creation-menu {
    background-color: $yellow;
    padding: 1px 17px;
    border-radius: 50%;
    color: white;
    margin-right: 10px;
    h1 {
      color: white;
    }
  }
}

.content-container {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px 0px 100px;
}

.container-recipe-random,
.container-card-menu-edit {
  height: fit-content;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.container-recipe-random{
  justify-content: center;
  align-items: center;
}

.container-card-menu-edit {
  background-color: white;
  border: solid 0.5px lightgrey;
  box-shadow: 5px 5px 5px #0000003b;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  padding: 15px;
  margin-bottom: 20px;
}

.card-recipe {
  width: 150px;
  height: 150px;
  box-shadow: 4px 4px 5px #0000001f;
  border: solid 0.5px lightgrey;
  border-radius: 15px;
}


.card-recipe {
  background-color: white;
  img {
    width: 100%;
    height: 100px;
    border-radius: 14px 14px 0px 0px;
  }
  .card-recipe-title {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 50px;
    p {
      color: black;
      line-height: 15px;
      margin-bottom: 5px;
    }
  }
}

.card-menu-edit {
  margin: 0px 15px;
  padding-top: 10px;
}

.footer-card-recipe-random,
.footer-card-menu-edit {
  width: 100%;
  color: #8c8989;
  padding: 7px 0px;
  text-align: center;
  a {
    color: #8c8989;
    &:hover {
      text-decoration: none;
      transition: color 0.4s;
      color: black;
    }
  }
}

.footer-card-menu-edit {
  justify-content: center;
  display: flex;
  align-items: center;
  font-size: 17px;
}

.more-recipes {
  width: 100%;
  height: fit-content;
  background: white;
  display: flex;
  padding: 100px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.popover {
  border: solid 1px black;
  border-radius: 15px;
  width: 150px;
  height: 115px;
  background-color: lightgrey;
}

.popover-header,
.popover-body {
  text-align: center;
}

.popover-header {
  background-color: $yellow;
  color: white;
}

.popover-body {
  color: black;
}

.menu-recipe-container {
  background-color: white;
  border-radius: 15px;
  width: 400px;
  padding: 20px 20px 10px 20px;
  margin: auto;
  box-shadow : $shadow;
  font-size: 15px;
  margin-top: -570px;
}

@include media-breakpoint-up(md) {
  .menu-recipe-container {
  width: 600px;
  padding: 40px 40px 20px 40px;
  }
}

.menu-recipe-container h3 {
  font-family: Lobster;
  margin-top: 10px;
  text-align: center;
}

.card-grocery_item {
  margin: 15px;
  padding-top: 10px;
}
