.table_grocery_item {
  table-layout: auto;
  width: 100%;  
}

.grocery-list{
  padding-inline-start: 0px;
  margin-top: 1em;
}

.item-to-buy {
  text-decoration: none;
}

.item-bought {
  text-decoration: line-through !important;
  color: #888888 !important;
}

.grocery-list-title {
  margin-top: 1vh;
  font-size: 54px;
  color: #AD243E;
}

.grocery-list-category {
  margin-bottom: 20px;
  font-size: 26px;
  color: #AD243E;
}

.fa-angle-double-up {
  font-size: 30px;
  padding: 15px;
}
