h1 {
  color: $black;
  font-size: 35px;
  text-align: center;
}

h2 {
  color: $brown;
  font-size: 30px;
  text-align: center;
}

ul {
  list-style: none;
}

// Scroll behavior

html {
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
 display: none;
}

// inputs

.inputs {
  width: 350px;
  background-color: snow;
  padding: 5px 15px;
}
