select#menu_recipe_number_of_people {
  width: 40px;
  color: #8c8989;
  border: none;
  background-image: none;
  &:hover {
    color: black;
    transition: color 0.4s;
  }
  &:focus {
   outline: 0;
  }
}
