select#menu_recipe_number_of_people {
  width: 40px;
  color: #8c8989;
  border: none;
  background-image: none;
  &:hover {
    color: black;
    transition: color 0.4s;
  }
  &:focus {
   outline: 0;
  }
}

.form-control {
  font-size: 18px;
  font-weight: 500;
  margin: 8px;
}

.form-inline .form-control {
    display: inline-block;
    width: 245px;
    vertical-align: middle;
}
